*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: #057135;
}
#nav-bar{
    height: auto;
    width: 100%;
    position: fixed;
    z-index: 100;
    background: transparent;
    
}
.nav-bar{
    left: 0;
    top: 0;
    padding: 1rem 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar .nav-list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    text-align: center;
}
.nav-bar .nav-list.open ul{
    transform: translateY(0);
}
.nav-bar .nav-list .hamburger{
    border: 0px solid #fff;
    border-radius: 10px;
    background: #057135;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    cursor: pointer;
    margin-left: 120px;
    margin-top: -130px;
    transition: .3s ease transform;
}

.nav-bar .nav-list .hamburger.active .bar:before{
    top: 0;
    transform: rotate(45deg)
}
.nav-bar .nav-list .hamburger.active .bar:after{
    transform: rotate(-45deg);
    top: 0;
}
.nav-bar .nav-list .hamburger.active .bar{
    background-color: transparent;
}
.nav-bar .nav-list .hamburger .bar{
    height: 2px;
    width: 30px;
    background-color: #ffffff;
    position: relative;
    display: flex;
}
.nav-bar .nav-list .hamburger .bar::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    transition: .3s ease all;
    top: 8px;
    left: 0;
}
.nav-bar .nav-list .hamburger .bar::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    transition: .3s ease all;
    bottom: 8px;
    left: 0;
}
.nav-bar .nav-list ul{
    position: absolute;
    width: 100%;
    top: -90px;
    left: 0;
    background-color: #fff;
    transform: translateY(-100%);
    transition: .3s ease transform;
    padding: 5rem 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: -1;
    
}
.nav-bar .nav-list ul li a{
    color: #057135;
    font-size: 13px;
    text-decoration: none;
    display: block;
    padding-left: 30px;
    font-family: 'lato', sans-serif;
    padding: 0.6rem 0.6rem;
    
}
.nav-bar .nav-list ul li a:hover{
    color: #bdaa35;
}
.nav-bar .nav-list ul li:hover::after{
    transform: translateX(-50%) scale(1);
}
.nav-bar .nav-list ul li:after{
    content: '';
    position: absolute;
    width: 40px;
    height: .1rem;
    background-color: #bdaa34;
    left: 50.5%;
    transform: translatex(-50%) scale(0);
    bottom: -3px;
    transition: .3s ease transform;
}
.nav-bar .nav-list ul li{
    list-style: none;
    display: block;
    position: relative;
}
.nav-bar .nav-list .register-button{
    height: 40px;
    background: #db6e2b;
    padding-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #db6e2b;
    outline: none;
    color: #fff;
}
.nav-bar .nav-list .login-button{
    height: 40px;
    background: transparent;
    padding-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #fff;
    outline: none;
    width: 100%;
}
.about{
    width: 100%;
    height: auto;
    margin-top: 90px;
}
.about .about-h1{
    color: #fff;
    font-size: 45px;
    line-height: 45px;
    font-family: 'lato', sans-serif;
    margin: 40px;
    font-weight: 900;
    text-align: start;
    display: flex;
}
.about .about-p{
    font-size: 16px;
    color: #fff;
    line-height: 16px;
    font-family: 'lato', sans-serif;
    text-align: start;
    margin-left: 40px;
    margin-top: -30px;
}
.about img{
    width: 70%;
    height: 90%;
    margin-left: 60px;
    margin-top: 10px;
    
}
.about .notify h4{
    color: #fff;
    margin-top: 10px;
    font-size: 24px;
    margin-left: 40px;
}
.about input{
    width: 300px;
    margin-left: 40px;
    height: 45px;
    padding: 10px;
    border-radius: 1px;
    border: 1px solid white;
    outline: none;
}
.about .notify button{
    width: 80px;
    height: 45px;
    position: relative;
    background-color: #db6e2b;
    border: 0px solid #bdaa34;
    color: #fff;
    font-weight: 600;
    font-size: 13px;
    font-family: 'nova', sans-serif;
    cursor: pointer;
    outline: none;
    border-radius: 0px 5px 5px 0px;
    top: -1px;
        
}
.about .notify button:hover{
    opacity: 0.8;
}
.agropalm-farmer{
    width: 100%;
    height: 120px;
    background: #ffffff;
    position: absolute;
    margin-top: 10px;
}

.agropalm-farmer h3{
    color: #333333;
    width: 300px;
    font-family: 'lato', sans-serif;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 22px;
}
.agropalm-farmer p{
    width: 400px;
    margin-left: 22px;
    font-family: 'lato', sans-serif;
    font-weight: 500;
    font-size: 14px;
}
.agropalm-farmer-apply{
    margin-left: 20px;
    margin-top: 10px;
    padding: 8px 3px;
    border: 1px solid #057135;
    border-radius: 3px;
    text-decoration: none;
    background: #057135;
    color: #fff;
    cursor: pointer;
    position: absolute;
}
  

.how-container{
    background: #e5e5e5;
}
.how-header{
    margin-top: 150px;
    justify-content: center;
    align-items: center;
}
.how-header h4{
    justify-content: center;
    display: flex;
    font-weight: 800;
    font-family: 'lato', sans-serif;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.2rem;
    opacity: 50%;
    font-size: 18px;
}
.how-header p{
    color: #fff;
    font-family: 'lato', sans-serif;
    font-weight: 600;
    text-align: center;
}
.how-con{
    height: auto;
    width: 100%;
    background: #9acd39;
    margin-top: 20px;
}
.how-image img{
    width: 70%;
    height: 300px;
    margin-left: 30px;
    margin-top:  60px;
}
.form{
    width: 230px;
    height: 200px;
    margin-left: 200px;
    margin-top: -200px;
    background: #fff;
    position: absolute;
    border-radius: 8.07px;
}
.form p{
    font-size: 11px;
    font-weight: 700;
    font-family: 'lato' sans-serif;
    line-height: 11px;
    text-align: center;
    padding-top: 5px;
    
}
.form input{
    width: 176px;
    height: 30px;
    opacity: 0.2;
    background: #c4c4c4;
    border-radius: 2px solid #c4c4c4;
    margin-left: 25px; 
    margin-top: 10px;
}

.form button{
     width: 176px;
    height: 30px;
    display: inline-block;
    margin-top: 25px;
    margin-left: 25px;
    background: #057135;
    border-radius: 1px solid #057135;
    color: #fff;
    border: 1px;
}
.how-su{
    width: 316px;
    height: 115px;
    background: #fff;
    border: 1px;
    border-radius: 4px;
    margin: 15px;
}
.how-su h1{
    font-size: 30px;
    color: #db6e2b;
    margin-left: 20px;
    margin-top: 0px;
    font-family: 'nova', sans-serif;
    font-weight: 700;
    padding-top: 20px;
    opacity: 40%;
}
.how-su h3{
    font-size: 20px;
    color: #057135;
    margin-top: -20px;
    font-family: 'lato', sans-serif;
    font-weight: 600;
    text-align: center;
}
.how-su p{
    font-size: 15px;
    font-family: 'lato', sans-serif;
    font-weight: 400;
    text-align: left;
    margin-left: 30px;
}
.how-su-2{
    width: 316px;
    height: 115px;
    background: #fff;
    border: 1px;
    border-radius: 4px;
    margin: 15px;
}
.how-su-2 h1{
    font-size: 30px;
    color: #db6e2b;
    margin-left: 10px;
    margin-top: 0px;
    font-family: 'nova', sans-serif;
    font-weight: 700;
    padding-top: 20px;
    opacity: 40%;
}
.how-su-2 h3{
    font-size: 20px;
    color: #057135;
    margin-top: -20px;
    font-family: 'lato', sans-serif;
    font-weight: 600;
    text-align: center;
}
.how-su-2 p{
    font-size: 15px;
    font-family: 'lato', sans-serif;
    font-weight: 400;
    text-align: left;
    margin-left: 30px;
}
.how-su-3{
    width: 316px;
    height: 115px;
    background: #fff;
    border: 1px;
    border-radius: 4px;
    margin: 15px;
}
.how-su-3 h1{
    font-size: 27px;
    color: #db6e2b;
    margin-left: 10px;
    margin-top: 0px;
    font-family: 'nova', sans-serif;
    font-weight: 700;
    padding-top: 20px;
    opacity: 40%;
}
.how-su-3 h3{
    font-size: 20px;
    color: #057135;
    margin-top: -20px;
    font-family: 'lato', sans-serif;
    font-weight: 600;
    text-align: center;
    margin-left: 30px;
}
.how-su-3 p{
    font-size: 15px;
    font-family: 'lato', sans-serif;
    font-weight: 400;
    text-align: left;
    margin-left: 30px;
}
.products-container{
    background: #e5e5e5;
}
.products-header{
    margin: 30px;
    text-align: center;
}

.products-header h4{
    justify-content: center;
    display: flex;
    font-weight: 800;
    font-family: 'lato', sans-serif;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.2rem;
    opacity: 50%;
    font-size: 18px;
}
.products-header p{
    color: #fff;
    font-family: 'lato', sans-serif;
    font-weight: 600;
    text-align: center;
}
.rec-i{
    width: 380px;
    height: 170px;
    background: white;
    position: absolute;
    left: 40px;
    margin-top: 0px;
    border-radius: 10px;
    border: 4px;
    justify-content: center;
    flex-direction: column;
}
.rec-i h2{
    margin-top: 10px;
    text-align: center;
    display: block;
    width: 150px;
    color: #057135;
    font-family: 'lato', sans-serif;
    font-size: 25px;
}
.rec-i p{
    font-size: 12px;
    text-align: start;
    font-family: 'lato', sans-serif;
    font-weight: 600;
    margin-left: 10px;
}
.rec-i a{
    text-decoration: none;
    top: 20px;
    margin-left: 250px;
    color: #057135;
}

.rec-ii{
    width: 380px;
    height: 170px;
    background: white;
    position: absolute;
    left: 40px;
    margin-top: 190px;
    border-radius: 10px;
    border: 4px;
    justify-content: center;
    flex-direction: column;
}
.rec-ii h2{
    margin-top: 10px;
    text-align: start;
    display: block;
    width: 170px;
    color: #057135;
    font-family: 'lato', sans-serif;
    font-size: 25px;
    margin-left: 10px;
}
.rec-ii p{
    font-size: 12px;
    text-align: start;
    font-family: 'lato', sans-serif;
    font-weight: 600;
    margin-left: 10px;
}
.rec-ii a{
    text-decoration: none;
    top: 20px;
    margin-left: 250px;
    color: #057135;
}

.rec-iii{
    width: 380px;
    height: 170px;
    background: white;
    position: absolute;
    left: 40px;
    margin-top: 385px;
    border-radius: 10px;
    border: 4px;
    justify-content: center;
    flex-direction: column;
}
.rec-iii h2{
    margin-top: 10px;
    text-align: start;
    display: block;
    width: 170px;
    color: #057135;
    font-family: 'lato', sans-serif;
    font-size: 25px;
    margin-left: 10px;
}
.rec-iii p{
    font-size: 12px;
    text-align: start;
    font-family: 'lato', sans-serif;
    font-weight: 600;
    margin-left: 10px;
}
.rec-iii a{
    text-decoration: none;
    top: 20px;
    margin-left: 250px;
    color: #057135;
}

.invest-header{
    margin-top: 650px;
    text-align: center;
}
.invest-header h4{
    justify-content: center;
    display: flex;
    font-weight: 800;
    font-family: 'lato', sans-serif;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.2rem;
    opacity: 50%;
    font-size: 18px;
}
.invest-header p{
    color: #fff;
    font-family: 'lato', sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 16px;
    display: block;
 
}
.invest-1{
    height: 2020px;
    width: 100%;
    background: #fff;
}
.invest-image img{
    width: 80%;
    height: 250px;
    margin: 40px;
}
.invest-1 h3{
    font-size: 22px;
    font-family: 'lato', sans-serif;
    font-weight: 600;
    text-align: start;
    margin-left: 30px;
    line-height: 22px;
    display: block;
    margin-top: -40px;
}
.invest-1 p{
    font-size: 14px;
    font-family: 'lato', sans-serif;
    font-weight: 600;
    line-height: 14px;
    text-align: start;
    margin-left: 30px;
    margin-top: 10px;
}
.invest-1 .h5-1 h5{
    font-weight: 700;
    font-size: 20px;
    font-family: 'lato', sans-serif;
    display: block;
    margin: 20px;
    margin-left: 42px;
    margin-top: -22px;
}
.invest-1 .h5-2 h5{
    font-weight: 700;
    font-size: 20px;
    font-family: 'lato', sans-serif;
    display: block;
    margin: 20px;
    margin-left: 42px;
    margin-top: -22px;
}
.invest-1 .h5-3 h5{
    font-weight: 700;
    font-size: 20px;
    font-family: 'lato', sans-serif;
    display: block;
    margin: 20px;
    margin-left: 42px;
    margin-top: -22px;
}
.invest-1 .h5-4 h5{
    font-weight: 700;
    font-size: 20px;
    font-family: 'lato', sans-serif;
    display: block;
    margin: 20px;
     margin-left: 42px;
    margin-top: -22px;
}
.invest-1 button{
    width: 100px;
    height: 40px;
    font-size: 14px;
    font-weight: 500;
    font-family: 'lato', sans-serif;
    display: inline-block;
    text-align: center;
    background: #057135;
    color: #fff;
    border: 1px solid #057135;
    border: 3px;
    cursor: pointer;
    justify-content: flex-start;
    margin-left: 30px;
    margin-top: -15px;
}
.h5-1 i{
    color: #057135;
    margin-top: 20px;
    margin-left: 22px;
}
.h5-2 i{
    color: #057135;
    margin-top: 20px;
    margin-left: 22px;
}
.h5-3 i{
    color: #057135;
    margin-top: 20px;
    margin-left: 22px;
}
.h5-4 i{
    color: #057135;
    margin-top: 20px;
    margin-left: 22px;
}

.invest-image-1 img{
    width: 80%;
    height: 250px;
    margin: 40px;
}
.invest-1 i1{
    font-size: 22px;
    font-family: 'lato', sans-serif;
    font-weight: 600;
    text-align: start;
    margin-left: 30px;
    line-height: 22px;
    display: block;
    margin-top: -40px;
}
.invest-1 i2{
    font-size: 14px;
    font-family: 'lato', sans-serif;
    font-weight: 600;
    line-height: 14px;
    text-align: start;
    margin-left: 30px;
    margin-top: 10px;
}
.invest-1 .h5-11 h5{
    font-weight: 700;
    font-size: 20px;
    font-family: 'lato', sans-serif;
    display: block;
    margin: 20px;
    margin-left: 45px;
    margin-top: -22px;
}
.invest-1 .h5-22 h5{
    font-weight: 700;
    font-size: 20px;
    font-family: 'lato', sans-serif;
    display: block;
    margin: 20px;
    margin-left: 45px;
    margin-top: -22px;
}
.invest-1 .h5-33 h5{
    font-weight: 700;
    font-size: 20px;
    font-family: 'lato', sans-serif;
    display: block;
    margin: 20px;
    margin-left: 45px;
    margin-top: -22px;
}
.invest-1 .h5-44 h5{
    font-weight: 700;
    font-size: 20px;
    font-family: 'lato', sans-serif;
    display: block;
    margin: 20px;
    margin-left: 45px;
    margin-top: -22px;
}
.h5-11 i{
    color: #057135;
    margin-top: 20px;
    margin-left: 25px; 
}
.h5-22 i{
     color: #057135;
    margin-top: 20px;
    margin-left: 25px; 
}
.h5-33 i{
     color: #057135;
    margin-top: 20px;
    margin-left: 25px; 
}
.h5-44 i{
     color: #057135;
    margin-top: 20px;
    margin-left: 25px; 
}
.invest-1 .invest-button{
    width: 100px;
    height: 40px;
    font-size: 14px;
    font-weight: 500;
    font-family: 'lato', sans-serif;
    display: inline-block;
    text-align: center;
    background: #057135;
    color: #fff;
    border: 1px solid #057135;
    border: 3px;
    cursor: pointer;
    justify-content: flex-start;
    margin-left: 30px;
    margin-top: -15px;
}

.invest-image-11 img{
    width: 80%;
    height: 250px;
    margin: 40px;
}
.invest-1 i11 {
    font-size: 22px;
    font-family: 'lato', sans-serif;
    font-weight: 600;
    text-align: start;
    margin-left: 30px;
    line-height: 22px;
    display: block;
    margin-top: -40px;
}
.invest-1 i22 {
    font-size: 14px;
    font-family: 'lato', sans-serif;
    font-weight: 600;
    line-height: 14px;
    text-align: start;
    margin-left: 30px;
    margin-top: 10px;
}
.invest-1 .h5-i1 h5{
    font-weight: 700;
    font-size: 20px;
    font-family: 'lato', sans-serif;
    display: block;
    margin: 20px;
   margin-left: 45px;
    margin-top: -22px;
}
.invest-1 .h5-i2 h5{
    font-weight: 700;
    font-size: 20px;
    font-family: 'lato', sans-serif;
    display: block;
    margin: 20px;
    margin-left: 45px;
    margin-top: -22px;
}
.invest-1 .h5-i3 h5{
    font-weight: 700;
    font-size: 20px;
    font-family: 'lato', sans-serif;
    display: block;
    margin: 20px;
    margin-left: 45px;
    margin-top: -22px;
}
.invest-1 .h5-i4 h5{
    font-weight: 700;
    font-size: 20px;
    font-family: 'lato', sans-serif;
    display: block;
    margin: 20px;
    margin-left: 45px;
    margin-top: -22px;
}
.h5-i1 i{
  color: #057135;
    margin-top: 20px;
    margin-left: 25px;   
}
.h5-i2 i{
   color: #057135;
    margin-top: 20px;
    margin-left: 25px;  
}
.h5-i3 i{
    color: #057135;
    margin-top: 20px;
    margin-left: 25px; 
}
.h5-i4 i{
    color: #057135;
    margin-top: 20px;
    margin-left: 25px; 
}
.invest-1 .invest-button-1{
    width: 100px;
    height: 40px;
    font-size: 14px;
    font-weight: 500;
    font-family: 'lato', sans-serif;
    display: inline-block;
    text-align: center;
    background: #057135;
    color: #fff;
    border: 1px solid #057135;
    border: 3px;
    cursor: pointer;
    justify-content: flex-start;
    margin-left: 30px;
    margin-top: -15px;
}

.wga-header{
    margin-top: 30px;
    text-align: center;
}
.wga-header h4{
     justify-content: center;
    display: flex;
    font-weight: 800;
    font-family: 'lato', sans-serif;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.2rem;
    opacity: 50%;
    font-size: 18px;
}
.wga-header p{
    color: #fff;
    font-family: 'lato', sans-serif;
    font-weight: 600;
    text-align: center;
}

.p1 h3{
    text-align: center;
    color: #fff;
    margin-top: 20px;
    font-family: 'nova', sans-serif;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
}
.p1 p{
    text-align: center;
    color: silver;
    font-weight: 400;
    font-family: 'nova', sans-serif;
    font-size: 16px;
    line-height: 16px;
    display: block;
    margin-top: 10px;
}
.p2 h3{
    text-align: center;
    color: #fff;
    margin-top: 20px;
    font-family: 'nova', sans-serif;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
}
.p2 p{
    text-align: center;
    color: silver;
    font-weight: 400;
    font-family: 'nova', sans-serif;
    font-size: 16px;
    line-height: 16px;
    display: block;
    margin-top: 10px;
}
.p3 h3{
    text-align: center;
    color: #fff;
    margin-top: 20px;
    font-family: 'nova', sans-serif;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
}
.p3 p{
    text-align: center;
    color: silver;
    font-weight: 400;
    font-family: 'nova', sans-serif;
    font-size: 16px;
    line-height: 16px;
    display: block;
    margin-top: 10px;
}
.p4 h3{
    text-align: center;
    color: #fff;
    margin-top: 20px;
    font-family: 'nova', sans-serif;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
}
.p4 p{
    text-align: center;
    color: silver;
    font-weight: 400;
    font-family: 'nova', sans-serif;
    font-size: 16px;
    line-height: 16px;
    display: block;
    margin-top: 10px;
}

.rec-1{
    width: 400px;
    height: 70px;
    margin: 50px;
    background: #ffffff;
    justify-content: flex-start;
    border: 1px solid #fff;
    border-radius: 2px 5px 2px 5px;
    
}
.rec-1 h3{
    font-family: 'lato', sans-serif;
    font-size: 20px;
    line-height: 22px;
    color: #057135;
    margin: 5px;
}
.rec-2{
    width: 400px;
    height: 70px;
    margin: 50px;
    margin-top: -45px;
    background: #ffffff;
    justify-content: flex-start;
    border: 1px solid #fff;
    border-radius: 2px 5px 2px 5px;
    
}
.rec-2 h3{
    font-family: 'lato', sans-serif;
    font-size: 20px;
    line-height: 22px;
    color: #057135;
    margin: 5px;
}
.rec-3{
    width: 400px;
    height: 70px;
    margin: 50px;
    margin-top: -45px;
    background: #ffffff;
    justify-content: flex-start;
    border: 1px solid #fff;
    border-radius: 2px 5px 2px 5px;
    
}
.rec-3 h3{
    font-family: 'lato', sans-serif;
    font-size: 20px;
    line-height: 22px;
    color: #057135;
    margin: 5px;
}
.rec-4{
    width: 400px;
    height: 70px;
    margin: 50px;
    margin-top: -45px;
    background: #ffffff;
    justify-content: flex-start;
    border: 1px solid #fff;
    border-radius: 2px 5px 2px 5px;
    
}
.rec-4 h3{
    font-family: 'lato', sans-serif;
    font-size: 20px;
    line-height: 22px;
    color: #057135;
    margin: 5px;
}
.rec-5{
    width: 400px;
    height: 70px;
    margin: 50px;
    margin-top: -45px;
    background: #ffffff;
    justify-content: flex-start;
    border: 1px solid #fff;
    border-radius: 2px 5px 2px 5px;
    
}
.rec-5 h3{
    font-family: 'lato', sans-serif;
    font-size: 20px;
    line-height: 22px;
    color: #057135;
    margin: 5px;
}
.rec-6{
    width: 400px;
    height: 100px;
    margin: 50px;
    margin-top: -45px;
    background: #ffffff;
    justify-content: flex-start;
    border: 1px solid #fff;
    border-radius: 2px 5px 2px 5px;
}
.rec-6 p{
    font-family: 'lato', sans-serif;
    text-align: start;
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    line-height: 16px;
    margin-top: 10px;
    margin-left: 10px;
}
.faq-1 img{
    width: 100%;
    height: 180px;
    background: linear-gradient(to right, #ffffff);
    filter: blur(10);
}
.faq-1 h3{
    color: #057135;
    text-align: start;
    font-size: 23px;
    line-height: 23px;
    font-family: 'lato', sans-serif;
    font-weight: 800;
    margin-top: -120px;
    margin-left: 30px;
}
.faq-1 p{
    color: #000000;
    font-size: 16px;
    font-family: 'lato', sans-serif;
    font-weight: 900;
    text-align: start;
    margin-top: 10px;
    line-height: 16px;
    margin-left: 30px;
}
.investa1{
    margin-top: 75px;
    text-align: center;
    color: #ffffff;
    font-family: 'lato', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
}
.footer-section{
    width: 100%;
    height: auto;
    background: #ffffff;
    justify-content: start;
    padding-left: 70px;
    padding-top: 10px;
    margin-top: 30px;
}
.ag-palm .logo{
    font-size: 20px;
    font-weight: 1000;
    font-family: 'lato', sans-serif;
    color: #057135;
    margin-top: 10px;
    
}
.ag-palm p{
    font-size: 13px;
    font-family: 'lato', sans-serif;
    font-weight: 400;
    text-align: start;
    line-height: 13px;
    display: block;
    max-width: 200px;
    padding-top: 10px;
}
.social-media{
    padding-top: 6px;
}
.social-media li{
    
}

.ag-palm2{
    margin-top: 10px;
}
.ag-palm2 h1{
    font-size: 20px;
    font-family: 'lato', sans-serif;
    line-height: 20px;
    color: #057135;
    font-weight: 1000;
}
.ag-palm2 li{
    list-style: none;
}
.ag-palm2 li a{
    text-decoration: none;
    color: #000000;
    display: block;
    margin-top: 10px;
}
.ag-palm-links{
    margin-top: 10px; 
}
.ag-palm-links h1{
    font-size: 20px;
    font-family: 'lato', sans-serif;
    line-height: 20px;
    color: #057135;
    font-weight: 1000; 
}
.ag-palm-links li{
    list-style: none;
}
.ag-palm-links li a{
    text-decoration: none;
    color: #000000;
    display: block;
    margin-top: 10px 
}
.ag-palm-contactus{
    margin-top: 10px; 
}
.ag-palm-contactus h1{
    font-size: 20px;
    font-family: 'lato', sans-serif;
    line-height: 20px;
    color: #057135;
    font-weight: 1000; 
}
.ag-palm-contactus li{
    list-style: none;
}
.ag-palm-contactus p{
    color: #000000;
    display: block;
    margin-top: 12px;
    font-family: 'lato', sans-serif;
    font-size: 13px;
    line-height: 13px;
    font-weight: 600px;
}
.footer-social-icon i{
    color: #057135;
    opacity: 0.6;
    margin-top: 10px;
    padding-left: 10px;
    margin-left: -10px;
    justify-content: space-between;
    font-size: 20px;
    padding-left: 15px;
}
.footer-social-icon a i:hover{
    color: #057135;
}

@media only screen and (min-width: 768px){
    .nav-bar .nav-list .hamburger{
        display: none;
    }
    .nav-bar{
        width: 100%;
    }
    .nav-bar .nav-list ul{
        transform: translateX(0);
        position: initial;
        margin-top: -150px;
        z-index: initial;
        background-color: transparent;
    }
    .nav-bar .nav-list ul li{
        display: inline-block;

    }
    .nav-bar .nav-list ul li a{
        color: #fff;
    }
  
    .about .about-h1{
        font-size: 65px;
        line-height: 65px;
        margin-top: 70px;
        margin-left: 150px;
    }
    .about .about-p{
        margin-left: 150px;
    }
    .about img{
        margin-left: 100px;
    }
    .about .notify h4{
        margin-left: 150px;
    }
    .about .notify input{
        margin-left: 150px;
    }
    .about .notify button{
        top: 1px;
    }
    .agropalm-farmer{
        height: 115px;
    }
    .agropalm-farmer h3{
        margin-left: 150px;
}
    .agropalm-farmer p{
        margin-left: 150px;
    }
    .agropalm-farmer-apply{
        margin-left: 150px;
    }
    .how-image img{
        width: 60%;
        height: 500px;
        margin-left: 150px;
    }
    .how-su-2{
        margin-left: 200px;
    }
    .rec-ii{
        margin-left: 150px;
    }
    .rec-iii{
        margin-left: 320px;
    }
    .invest-1{
        margin-top: 20px;
    }
    .rec-1{
        margin-left: 390px;
    }
    .rec-2{
        margin-left: 390px;
    }
    .rec-3{
        margin-left: 390px;
    }
    .rec-4{
        margin-left: 390px;
    }
    .rec-5{
        margin-left: 390px;
    }
    .rec-6{
        margin-left: 390px;
    }
    

}

@media only screen and (min-width: 1200px){
    .about .about-p{
        text-align: left;
        font-size: 20px;
        line-height: 20px;
    }
    .about img{
        width: 500px;
        margin-left: 750px;
        margin-top: -280px;
        height: 600px;
    }
    .about .notify h4{
        margin-top: -250px;
    }
    .about .notify button{
        left: -4px;
        top: 0px;
    }
    .agropalm-farmer{
        height: 200px;
        z-index: -1;
        margin-top: 80px;
    }
    .how-header{
        margin-top: 290px;
    }
    .how-image img{
        width: 397px;
        height: 549px;
        margin-left: 230px;
    }
    .form{
        width: 239px;
        height: 249px;
        margin-left: 420px;
        margin-top: -300px;
    }
    .how-con{
        height: 700px;
        width: 90%;
    }
    .how-su{
        margin-left: 750px;
        margin-top: -450px;
    }
    .how-su h1{
        padding-top: 45px;
        margin-left: 10px;
    }
    .how-su h3{
        margin-left: 10px;
        margin-top: -60px;
    }
    .how-su p{
        margin-left: 60px;
        font-size: 15px;
    }
    .how-su-2{
        margin-left: 750px;
    }
    .how-su-2 h1{
       padding-top: 45px;
        margin-left: 10px;  
    }
    .how-su-2 h3{
          margin-left: 30px;
        margin-top: -60px;
    }
    .how-su-2 p{
        margin-left: 60px;
        font-size: 15px;
    }
    .how-su-3{
        margin-left: 750px;
    }
    .how-su-3 h1{
        padding-top: 45px;
        margin-left: 10px;
    }
    .how-su-3 h3{
          margin-left: 30px;
        margin-top: -60px;
    }
    .how-su-3 p{
       margin-left: 46px;
        font-size: 15px;  
    }
    .rec-i{
        width: 350px;
        height: 200px;
       
    }
    .rec-i h2{
        margin-top: 30px;
    }
    .rec-ii{
        margin-left: 400px;
        margin-top: 0px;
        height: 200px;
    }
    .rec-ii h2{
        margin-top: 30px;
    }
    .rec-iii{
        margin-left: 800px;
        margin-top: 0px;
        height: 200px;
    }
    .rec-iii h2{
        margin-top: 30px;
    }
    .invest-1{
        width: auto;
        height: 1450px;
    }
    .invest-header{
        margin-top: 250px;
    }
    .invest-image img{
        width: 485px;
        height: 450px;
        margin-left: 150px;
    }
    .invest-1 h3{
        margin-left: 650px;
        margin-top: -430px;
    }
    .invest-1 p{
        margin-left: 650px;
    }
    .invest .h5-1 h5{
        margin-left: 670px;
    }
    .invest .h5-2 h5{
        margin-left: 670px;

    }
    .invest .h5-3 h5{
        margin-left: 1020px;
        margin-top: -105px;
    }
    .invest .h5-4 h5{
        margin-left: 1020px;
        margin-top: 37px;
    }
    .h5-1 i{
        margin-left: 650px;
    }
    .h5-2 i{
        margin-left: 650px;
    }
    .h5-3 i{
        margin-left: 1000px;
        position: absolute;
        margin-top: 5px;
    
    }
    .h5-4 i{
        margin-left: 1000px;
        position: absolute;
        margin-top: 3px;
    }
    .invest-1 button{
        margin-left: 650px;
    }
    .invest-image-1 img{
        width: 485px;
        height: 450px;
        margin-left: 800px;
        margin-top: 150px;
    }
    .invest-1 .i1{
        margin-left: 200px;
        
    }
    .invest-1 .i2{
        margin-left: 200px;
    }
    .invest .h5-11 h5{
        margin-left: 230px;
    }
    .invest .h5-22 h5{
        margin-left: 230px;
    }
    .invest .h5-33 h5{
        margin-left: 520px;
        margin-top: -104px;
    }
    .invest .h5-44 h5{
        margin-left: 520px;
        margin-top: 40px;
    }
    .h5-11 i{
      color: #057135;
      margin-left: 200px;
    }
     .h5-22 i{
        color: #057135;
      margin-left: 200px;
    }
     .h5-33 i{
         color: #057135;
         margin-left: 500px;
         margin-top: 4px;
         position: absolute;
    }
    .h5-44 i{
      color: #057135;
      margin-left: 500px;
        position: absolute;
        margin-top: 3px;
    }
    .invest-1 .invest-button{
        margin-left: 200px;
    }
    .invest-image-11 img{
        width: 485px;
        height: 450px;
        margin-left: 150px;
        margin-top: 150px;
    }
    .invest-1 .i11{
        margin-left: 650px;
        margin-top: -400px;
    }
    .invest-1 .i22{
        margin-left: 650px;
    }
      .invest .h5-i1 h5{
        margin-left: 670px;
    }
    .invest .h5-i2 h5{
        margin-left: 670px;

    }
    .invest .h5-i3 h5{
        margin-left: 1020px;
        margin-top: -105px;
    }
    .invest .h5-i4 h5{
        margin-left: 1020px;
        margin-top: 37px;
    }
     .h5-i1 i{
        margin-left: 650px;
    }
    .h5-i2 i{
        margin-left: 650px;
    }
    .h5-i3 i{
        margin-left: 1000px;
        position: absolute;
        margin-top: 5px;
    
    }
    .h5-i4 i{
        margin-left: 1000px;
        position: absolute;
        margin-top: 3px;
    }
    .invest-1 .invest-button-1{
        margin-left: 650px;
    }
    .p1 h3{
        margin-left: -450px;
    }
    .p1 p{
        margin-left: 230px;
        text-align: center;
        width: 400px;
    }
    .p2 h3{
        margin-left: 470px;
        margin-top: -77px;
    }
    .p2 p{
        margin-left: 730px;
        text-align: center;
        width: 400px; 
    }
    .p3 h3{
       margin-left: -450px; 
    }
    .p3 p{
        margin-left: 230px;
        text-align: center;
        width: 400px; 
    }
    .p4 h3{
         margin-left: 470px;
        margin-top: -77px;
    }
    .p4 p{
        margin-left: 730px;
        text-align: center;
        width: 400px;  
    }
    .rec-1{
        width: 428px;
        height: 400px;
        margin-left: 150px;
    }
    .rec-1 h3{
        margin: 40px;
    }
    .rec-2{
        width: 300px;
        height: 200px;
        margin-left: 579px; 
        margin-top: -450px;
    }
    .rec-2 h3{
        margin: 40px;
    }
     .rec-3{
        width: 300px;
        height: 200px;
        margin-left: 880px; 
        margin-top: -250px;
    }
    .rec-4 {
        width: 300px;
        height: 200px;
        margin-left: 579px; 
        margin-top: -49px;
    }
    .rec-4 h3{
        margin: 40px;
    }
    .rec-5 {
        width: 300px;
        height: 200px;
        margin-left: 880px; 
        margin-top: -250px; 
    }
    .rec-5 h3{
        margin: 40px;
    }
    .rec-6{
        width: 1030px;
        margin-left: 150px;
        margin-top: -49px;
    }
    .faq-1 img{
        padding-right: 150px;
    }
    .footer-section{
        display: flex;
        flex-direction: row;
    }
    .social-media{
        margin-top: 120px;
        margin-left: -200px;
    }
    .ag-palm2{
        margin-left: 250px;
    }
    .ag-palm-links{
        margin-left: 70px;
    }
    .ag-palm-contactus{
        margin-left: 30px;
    }
    .bubble-1{
    width: 253px;
    height: 75px;
    top: 138px;
    left: calc(50% - 253px/2 + 273.5px);
    border-radius: 4px;
    background-color: #ffffff;
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.bubble-1 p{
     font-family: 'lato', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    margin-top: 25px;
    margin-left: 25px;
    color: #057135;
}
.bubble-2{
     width: 253px;
    height: 75px;
    top: 338px;
    left: calc(50% - 253px/2 + 473.5px);
    border-radius: 10px;
    position: absolute;
    background-color: white;
    z-index: 1;
}
.bubble-2 p{
     font-family: 'lato', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    margin-top: 25px;
    margin-left: 25px;
    color: #057135;
}
.bubble-3{
      width: 253px;
    height: 75px;
    top: 480px;
    left: 700px;
    border-radius: 10px;
    position: absolute;
    background-color: #fff;
    z-index: 1;
}
.bubble-3 p{
         font-family: 'lato', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    margin-top: 25px;
    margin-left: 25px;
    color: #057135;
}
.bubble-4{
     width: 253px;
    height: 75px;
    top: 608px;
    left: 999px;
    border-radius: 10px;
    position: absolute;
    background-color: white;
    z-index: 1;
}
.bubble-4 p{
      font-family: 'lato', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    margin-top: 25px;
    margin-left: 25px;
    color: #057135; 
  }
}

@media only screen and (max-width: 1200px){
    .bubble-1{
        display: none;
    }
    .bubble-2{
        display: none;
    }
    .bubble-3{
        display: none;
    }
    .bubble-4{
        display: none;
    }
}










































































































































